<form (ngSubmit)="onSubmit()">
  <goa-container accent="thin">
    <goa-flex-row gap="medium">
      <goa-form-item label="Your role">
        <goa-input
          goaValue
          width="100%"
          [(ngModel)]="userRole"
          name="userRole"
        >
        </goa-input>
      </goa-form-item>
    </goa-flex-row>

    <goa-flex-row gap="medium">
      <goa-form-item label="Start date">
        <goa-input
          goaValue
          type="date"
          width="100%"
          [(ngModel)]="startDate"
          name="startDate"
        ></goa-input>
      </goa-form-item>

      <goa-flex-col>
        <goa-form-item label="End date">
          <goa-input
            goaValue
            type="date"
            width="100%"
            [(ngModel)]="endDate"
            name="endDate"
          >
          </goa-input>
        </goa-form-item>
        <goa-checkbox
          goaValue
          [(ngModel)]="isCurrentlyEmployed"
          name="currently-employed"
        >
          Currently employed
        </goa-checkbox>
      </goa-flex-col>
    </goa-flex-row>

    <goa-flex-row gap="medium">
      <goa-form-item label="Number of months">
        <goa-input
          goaValue
          width="100%"
          type="number"
          [(ngModel)]="numberOfMonths"
          name="months"
        >
        </goa-input>
      </goa-form-item>

      <goa-form-item label="Number of hours">
        <goa-input
          goaValue
          width="100%"
          type="number"
          [(ngModel)]="numberOfHours"
          name="hours"
        >
        </goa-input>
      </goa-form-item>
    </goa-flex-row>

    <goa-flex-row gap="medium">
      <goa-form-item label="Description of work" optional="true" helpText="Describe other unique tasks">
        <goa-textarea
          goaValue
          width="100%"
          showCounter="true"
          maxCharCount="200"
          [(ngModel)]="descriptionOfWork"
          name="tasks"
        >
        </goa-textarea>
      </goa-form-item>
    </goa-flex-row>

    <goa-flex-row gap="medium">
      <goa-form-item label="Job Type">
        <goa-radio-group goaValue name="jobtype" [(ngModel)]="jobType">
          <goa-radio-item name="jobtype" value="Developer"></goa-radio-item>
          <goa-radio-item name="jobtype" value="Designer"></goa-radio-item>
        </goa-radio-group>
      </goa-form-item>
    </goa-flex-row>

    <goa-button-group alignment="start">
      <goa-button type="secondary" (_click)="onClick()">Back</goa-button>
      <button type="submit">Save</button>
    </goa-button-group>
  </goa-container>
</form>
