<goa-page>
  <section slot="header">
    <goa-microsite-header level="alpha" version="UAT"></goa-microsite-header>
    <goa-app-header title="App Name">
      <a href="/login">Sign in</a>
    </goa-app-header>
  </section>

  <goa-page-block width="704px">
    <router-outlet></router-outlet>
  </goa-page-block>

  <section slot="footer">
    <goa-app-footer>
      <goa-app-footer-nav-section name="Links" maxcolumncount={2}>
        <a href="a.html">Arts and culture</a>
        <a href="b.html">Education and training</a>
        <a href="c.html">Family and social supports</a>
        <a href="d.html">Housing and community</a>
        <a href="e.html">Life events</a>
        <a href="f.html">Business and economy</a>
        <a href="g.html">Emergencies and public safety</a>
        <a href="h.html">Government</a>
        <a href="i.html">Jobs and employment</a>
        <a href="j.html">Moving to Alberta</a>
      </goa-app-footer-nav-section>

      <goa-app-footer-nav-section name="Media">
        <a href="instagram.html">Instagram</a>
        <a href="youtube.html">YouTube</a>
        <a href="facebook.html">Facebook</a>
        <a href="snapchat.html">Snapchat</a>
        <a href="twitter.html">Twitter</a>
      </goa-app-footer-nav-section>

      <goa-app-footer-meta-section>
        <a href="contact.html">Contact Us</a>
        <a href="support.html">Support</a>
        <a href="hours.html">Hours</a>
        <a href="about.html">About Us</a>
        <a href="careers.html">Careers</a>
      </goa-app-footer-meta-section>
    </goa-app-footer>
  </section>
</goa-page>
