<div class="space-5"></div>

<goa-callout type="success">
    Thanks for trying out the product template
</goa-callout>

<div class="space-2"></div>

<h3>
    You can use this project as a starting point in your service. <a href="https://github.com/GovAlta/ui-components-angular-template">Find the code in Github.</a>
</h3>
<h3>
    Go back to the home page to try out and see <a href="https://ui-components-ui-components-dev.os99.gov.ab.ca">more available components,</a> <a href="https://github.com/GovAlta/ui-components/issues">give feedback</a>, and <a href="https://www.npmjs.com/package/@abgov/angular-components">start using the design system.</a>
</h3>

<div class="space-4"></div>

<goa-button type="primary" (_click)="onClick()">
    Back to more templates
</goa-button>