<main>
  <h2>Relevant Work Experience</h2>

  <goa-circular-progress variant="fullscreen" size="large" message="Saving..."></goa-circular-progress>

  <app-info-form></app-info-form>

  <goa-modal heading="Are you sure you want to save?">
    <p>
      You will not be able to undo this action.
    </p>
    <goa-button-group alignment="end" slot="actions">
      <goa-button type="secondary">Cancel</goa-button>
      <goa-button type="primary" variant="destructive">Save</goa-button>
    </goa-button-group>
  </goa-modal>
</main>
